
/*//////////////////////////RESET TYPE STUFFS/////////////////////*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* //////////////HTML5 display-role reset for older browsers////////////// */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}

/*///////////////////Box Size Border Box////////////////*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*///////////////////////Begin Code////////////////////////*/

html, body, .container {
        width: 100%;
        height: 100%;
        margin: 0;
      }
}

body{
/*position: relative;*/
}

 img[rel="main"] {
  position: absolute;
  max-height: 100%;
  min-width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.container > * {
  flex: 1 1 auto;
}

#header-content {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
}

#header-content ul {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  justify-content: flex-end;
}

#header-content li {
  font-family: Courier;
  font-weight: bolder;
  color: #D910E8;
  display: inline-flex;
  justify-content: flex-end;
  width: 9vw;
}

#header-content li:hover {
color: #FFFFFF;
cursor: pointer; cursor: hand;
}

#header-content li:first-child {
  font-weight: normal;
  justify-content: center;
  font-size: 32px;
  width: 40vw;
  cursor: default;
}

#header-content li:first-child:hover {
  color: #D910E8;
}

#mid1 {
    position: relative;
    /*border: 5px solid black;
    background: purple;*/
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    font-size: 32px;
    margin-top: auto;
  }

  #mid1 h3 {
    font-size: 24px;
    font-family: Courier;
  }

#mid2 {
    position: relative;
    /*border: 5px solid black;
    background: orange;*/
    width: 100vw;
    display: inline-flex;
    justify-content: center;
  }

  #mid2 h1 {
    font-size: 86px;
    font-family: Courier;
  }

#mid3 {
    position: relative;
    /*border: 5px solid black;
    background: green;*/
    width: 100vw;
    display: inline-flex;
    margin-left: 45vw;
    margin-right: 40vw;
    align-items: flex-end;
  }

#button {
background: #3498db;
background-image: -webkit-linear-gradient(top, #3498db, #D910E8);
background-image: -moz-linear-gradient(top, #3498db, #D910E8);
background-image: -ms-linear-gradient(top, #3498db, #D910E8);
background-image: -o-linear-gradient(top, #3498db, #D910E8);
background-image: linear-gradient(to bottom, #3498db, #D910E8);
-webkit-border-radius: 4;
-moz-border-radius: 4;
border-radius: 4px;
font-family: Courier New;
color: #ffffff;
font-size: 21px;
padding: 8px 30px 8px 30px;
text-decoration: none;
}

#button:hover {
background: #FFFFFF;
background-image: -webkit-linear-gradient(top, #FFFFFF, #D910E8);
background-image: -moz-linear-gradient(top, #FFFFFF, #D910E8);
background-image: -ms-linear-gradient(top, #FFFFFF, #D910E8);
background-image: -o-linear-gradient(top, #FFFFFF, #D910E8);
background-image: linear-gradient(to bottom, #FFFFFF, #D910E8);
text-decoration: none;
cursor: pointer; cursor: hand;
}

#footer {
    order: 1;
    position: relative;
    display: flex;
    width: 100vw;
    display: inline-flex;
    align-items: flex-end;
}

.footer-content {
  background: pink;
  width: 100vw;
  height: 8vh;
  padding: 3vh;
}

.footer-content ul {
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  /*justify-content: flex-start;*/
}

.footer-content li {
  font-family: Courier;
  font-weight: bold;
  color: #D910E8;
  display: inline-flex;
  padding: 0 2.5vw;
}

.footer-content li:hover {
color: #FFFFFF;
cursor: pointer; cursor: hand;
}

/*////////////////////BEGIN GALLERY PAGE/////////////////////*/

.container2 {
  display: flex;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.container2 > * {
  flex: 1 1 auto;
}

#topbar {
  flex-wrap: wrap;
  width: 100vw;
  height: 10vh;
  background-color: salmon;
}

#gallery1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

img[rel="img1"] {
  width: 50vw;
  height: 50vh;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

img[rel="img1"]:hover {
  -webkit-filter: grayscale(100%);
}

img[rel="img2"] {
  width: 25vw;
  height: 50vh;
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
       -o-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

img[rel="img2"]:hover {
  -webkit-filter: grayscale(100%);
}

img[rel="img3"] {
  width: 25vw;
  height: 50vh;
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
       -o-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

img[rel="img3"]:hover {
  -webkit-filter: grayscale(100%);
}

#gallery2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

img[rel="img4"] {
  width: 25vw;
  height: 50vh;
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
       -o-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

img[rel="img4"]:hover {
  -webkit-filter: grayscale(100%);
}

img[rel="img5"] {
  width: 25vw;
  height: 50vh;
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
       -o-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

img[rel="img5"]:hover {
  -webkit-filter: grayscale(100%);
}

img[rel="img6"] {
  width: 50vw;
  height: 50vh;
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
       -o-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

img[rel="img6"]:hover {
  -webkit-filter: grayscale(100%);
}




/*///////////////////////////////MEDIA BREAK 965PX////////////////////////////*/



@media only screen and (max-width:965px)
  {
    
